.subjects-page {
  .centered-content {
    width: 50%;
    min-width: 960px;
    margin: 0 auto;
  }

  .graph {
    min-height: 960px;
    min-width: 1280px;
    margin: 0 auto;

    .column {
      float: left;

      &.main {
        min-width: 960px;
				width: 75%;
      }

      &.small {
        min-width: 305px;
				width: 25%;
        min-height: 960px;
        margin: 100px 0 0 0;
        background: white;

				section {
					padding: 0 10px 0 5px;
				}
      }
    }
  }
}

.course-info {
  .depends {
    color: #E62020;
  }

  .provides {
    color: #189400;
  }
}
