.subjects-graph {
  h1 {
    text-align: center;
  }

  .view-button {
    border-width: 2px;
    border-style: outset;
    border-color: gray;

    &.active {
      border-color: coral;
    }
  }

  .graph {
    min-height: 960px;
    min-width: 1280px;
    margin: 0 auto;

    .column {
      &.main {
        float: left;
        min-width: 900px;
        max-width: 75%;

        svg {
          display: block;
          margin: 0 auto;
        }
      }

      &.small {
        overflow: hidden;
        min-width: 305px;
        min-height: 960px;
        background: white;

        section {
          padding: 10em 5em 0 5em;
        }
      }
    }
  }
}

.course-info {
  .depends {
    color: #E62020;
  }

  .provides {
    color: #189400;
  }
}
