<section ng-hide="selected">
  <simple-format text="currentMajor.description"></simple-format>
</section>

<section class="course-info" ng-show="selected">
  <h2>{{selected.display_name}}</h2>

  <simple-format text="selected.description"></simple-format>

  <ul>
    <li class="depends" ng-repeat="depends in selected.depends" ng-if="depends != 'root_link' && depends != 'dummy_depends'">
      {{depends}}
    </li>

    <li class="provides" ng-repeat="provide in selected.provides" ng-if="provide != 'dummy_provides'">
      {{provide}}
    </li>
  </ul>
</section>
