<div id="majors-page">
  <main class="slide-welcome" role="main">
    <div class="content">
      <h1>Какво щe науча във ФМИ?</h1>

      <p>
        Този проект е с отворен код. Ако искате да помогнете: <a href="https://github.com/TheFairiesGroup/fairy-tree-client/issues">привет</a>.<br/>
        Ако се чудите къде да ни намерите <a href="mailto:thefairies@gmail.com"><abbr title="send pigeon here">thefairies@gmail.com</abbr></a><br/>
        Ако се чудите какво може да научите във ФМИ слезте надолу.
      </p>
    </div>
  </main>

  <div class="slide-majors">
    <p class="loading" ng-hide="majors.length">Зареждане...</p>
    <p ng-repeat="major in majors">
      <a href="#/major_rttree/{{major.$id}}">{{major.display_name}}</a>
    </p>
  </div>
</div>
