<div id="majors-page">
  <main role="main">
    <div class="content">
      <h1>Какво ще научите във ФМИ?</h1>

      <p>
        Ако някога сте се чудили защо учите дадени предмети, това е мястото,
        където ще получите нужните отговори. Ще разберете връзките между
        изучваните предмети и какви възможности за развитие разкрива пред Вас.
      </p>

      <p>
        <a href="#/about" >Повече информация за проекта</a>
      </p>
    </div>
  </main>

  <h2>Моля изберете специалността, която Ви интересува</h2>

  <p ng-repeat="major in majors">
    {{major.display_name}}:
    <a href="#/major/{{major.$id}}" class="btn btn-default btn-group-justified">
      Hierarchical edge bundling
    </a>
    &nbsp; &nbsp; &nbsp;
    <a href="#/major_rttree/{{major.$id}}" class="btn btn-default btn-group-justified">
      Reingold–Tilford Tree
    </a>
  </p>
</div>
