<div class="subjects-page">
  <div class="centered-content">
    <h1>{{currentMajor.display_name || 'Специалност'}}</h1>

    <p><a href="#">Назад</a></p>

    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="major in majors">
        <a href="#/major/{{major.$id}}">{{major.display_name}}</a>
      </li>
    </ul>

    <h2>{{courses.length || '?'}} курса</h2>
  </div>

  <div class="graph">
    <div radial-graph courses="courses" selected="selected" class="column main"></div>

    <div ng-include src="'partials/course_info.html'" class="column small"></div>
  </div>
</div>
