/* line 1, ../sass/style.scss */
body {
  font-size: 10px;
  line-height: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* line 8, ../sass/style.scss */
h1 {
  font-size: 4em;
  line-height: 1.2em;
  font-weight: 300;
}

/* line 14, ../sass/style.scss */
h2 {
  font-size: 3.2em;
  line-height: 1.4em;
  font-weight: 300;
}

/* line 20, ../sass/style.scss */
ul li,
p {
  font-size: 1.6em;
  line-height: 1.6em;
  font-weight: 300;
}

/* line 26, ../sass/style.scss */
ul li {
  list-style-type: circle;
}

/* line 30, ../sass/style.scss */
a {
  color: #2077cc;
  text-decoration: none;
  font-weight: normal;
}

/* line 35, ../sass/style.scss */
a:hover {
  color: #000;
}
