/* line 1, ../sass/style.scss */
body {
  font-size: 10px;
  line-height: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 7, ../sass/style.scss */
h1 {
  font-size: 4em;
  line-height: 1.2em;
}

/* line 12, ../sass/style.scss */
h2 {
  font-size: 3.2em;
  line-height: 1.4em;
}

/* line 17, ../sass/style.scss */
ul li,
p {
  font-size: 1.6em;
  line-height: 1.6em;
}
